/.php_cs.cache
/tests/.env
/tests/behat.yml
/tests/vendor/
/tests/logs/mink/*
!/tests/logs/mink/.gitkeep
/files/*
!/files/.gitkeep
/temp/*
!/temp/.gitkeep
.php_cs.cache

### JetBrains IDEs ###
/.idea/
