default:
    extensions:
        SensioLabs\Behat\PageObjectExtension:
            namespaces:
                page:
                  - Shopware\Page
                  - Shopware\Page\Frontend
                  - Shopware\Page\Backend
                  - Shopware\Page\Installer
                  - Shopware\Page\Updater
                element:
                  - Shopware\Element
                  - Shopware\Element\Frontend
        Behat\MinkExtension:
            base_url: 'http://shopware.test/'
            default_session: 'goutte'
            javascript_session: 'selenium2'
            goutte: ~
            selenium2:
                wd_host: "http://selenium:4444/wd/hub"
                capabilities: { "browserName": "chrome", "browser": "chrome", 'chrome': {'switches':['--lang=de']}}
            browser_name: chrome

    gherkin:
      filters:
        tags: ~@knownFailing

    suites:
        default:
            paths:    [ %paths.base%/features ]
            template: Responsive
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Shopware\Context\DebugContext
                - Shopware\Context\FeatureContext
                - Shopware\Context\GeneralContext
                - Shopware\Context\BackendContext
                - Shopware\Context\FrontendContext
                - Shopware\Context\FrontendCheckoutContext
                - Shopware\Context\FrontendAccountContext
                - Shopware\Context\ApiContext
                - Shopware\Context\DetailContext
                - Shopware\Context\InstallerContext
                - Shopware\Context\UpdaterContext
                - Shopware\Context\SubshopContext
                - Shopware\Context\FileCheckContext
                - Shopware\Context\ProductExportContext
                - Shopware\Context\BackendCustomerContext
                - Shopware\Context\BackendPaymentContext
                - Shopware\Context\BackendOrderContext