default:
    extensions:
        SensioLabs\Behat\PageObjectExtension:
            namespaces:
                page:
                  - Shopware\Tests\Mink\Page
                  - Shopware\Tests\Mink\Page\Frontend
                  - Shopware\Tests\Mink\Page\Backend
                  - Shopware\Tests\Mink\Page\Installer
                  - Shopware\Tests\Mink\Page\Updater
                element: Shopware\Tests\Mink\Element
        Behat\MinkExtension:
            base_url: 'http://shopware.test/'
            default_session: 'goutte'
            javascript_session: 'selenium2'
            goutte: ~
            selenium2:
                wd_host: "http://selenium:4444/wd/hub"
                capabilities: { "browserName": "chrome", "browser": "chrome", 'chrome': {'switches':['--lang=de']}}
            browser_name: chrome

    gherkin:
      filters:
        tags: ~@knownFailing

    suites:
        default:
            paths:    [ %paths.base%/features ]
            template: Responsive
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Shopware\Tests\Mink\FeatureContext
                - Shopware\Tests\Mink\GeneralContext
                - Shopware\Tests\Mink\BackendContext
                - Shopware\Tests\Mink\FrontendContext
                - Shopware\Tests\Mink\FrontendCheckoutContext
                - Shopware\Tests\Mink\FrontendAccountContext
                - Shopware\Tests\Mink\ApiContext
                - Shopware\Tests\Mink\DetailContext
                - Shopware\Tests\Mink\InstallerContext
                - Shopware\Tests\Mink\UpdaterContext
                - Shopware\Tests\Mink\AutoUpdaterContext