parameters:
	ignoreErrors:
		-
			message: "#^Method RandomImageGenerator\\:\\:imagettfbboxextended\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../www/assetgenerator/classes/RandomImageGenerator.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:buildArticleDataArray\\(\\) has parameter \\$categories with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:buildArticleDataArray\\(\\) has parameter \\$product with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:buildArticleDataArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:buildCustomerDataArray\\(\\) has parameter \\$customer with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:buildCustomerDataArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:buildCustomerGroupDataArray\\(\\) has parameter \\$group with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:buildCustomerGroupDataArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:buildPropertyDataArray\\(\\) has parameter \\$group with no type specified\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:buildPropertyDataArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:call\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:call\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:call\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:createArticle\\(\\) has parameter \\$product with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:createCategory\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:createCategoryTrees\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:createCustomer\\(\\) has parameter \\$customer with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:createCustomerGroup\\(\\) has parameter \\$customerGroup with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:createOrder\\(\\) has parameter \\$orderData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:createProperty\\(\\) has parameter \\$property with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:customerGroupExistsByKey\\(\\) has parameter \\$key with no type specified\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:delete\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:delete\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:get\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:get\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:post\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:post\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:post\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:prepareResponse\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:put\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:put\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:put\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:setCountryData\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:throwExceptionWhenEmpty\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:throwExceptionWhenEmpty\\(\\) has parameter \\$expectedFields with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:updateCustomerGroup\\(\\) has parameter \\$customerGroup with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Property Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:\\$auth type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Property Shopware\\\\Component\\\\Api\\\\ApiClient\\:\\:\\$validMethods type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/Api/ApiClient.php

		-
			message: "#^Method Shopware\\\\Component\\\\XpathBuilder\\\\BaseXpathBuilder\\:\\:ancestor\\(\\) has parameter \\$conditions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/XpathBuilder/BaseXpathBuilder.php

		-
			message: "#^Method Shopware\\\\Component\\\\XpathBuilder\\\\BaseXpathBuilder\\:\\:appendPartialPath\\(\\) has parameter \\$conditions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/XpathBuilder/BaseXpathBuilder.php

		-
			message: "#^Method Shopware\\\\Component\\\\XpathBuilder\\\\BaseXpathBuilder\\:\\:child\\(\\) has parameter \\$conditions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/XpathBuilder/BaseXpathBuilder.php

		-
			message: "#^Method Shopware\\\\Component\\\\XpathBuilder\\\\BaseXpathBuilder\\:\\:descendant\\(\\) has parameter \\$conditions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/XpathBuilder/BaseXpathBuilder.php

		-
			message: "#^Method Shopware\\\\Component\\\\XpathBuilder\\\\BaseXpathBuilder\\:\\:following\\(\\) has parameter \\$conditions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/XpathBuilder/BaseXpathBuilder.php

		-
			message: "#^Method Shopware\\\\Component\\\\XpathBuilder\\\\BaseXpathBuilder\\:\\:followingSibling\\(\\) has parameter \\$conditions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/XpathBuilder/BaseXpathBuilder.php

		-
			message: "#^Method Shopware\\\\Component\\\\XpathBuilder\\\\BaseXpathBuilder\\:\\:preceding\\(\\) has parameter \\$conditions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/XpathBuilder/BaseXpathBuilder.php

		-
			message: "#^Method Shopware\\\\Component\\\\XpathBuilder\\\\BaseXpathBuilder\\:\\:precedingSibling\\(\\) has parameter \\$conditions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Component/XpathBuilder/BaseXpathBuilder.php

		-
			message: "#^Cannot call method click\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 2
			path: Context/FrontendContext.php

		-
			message: "#^Cannot call method getText\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Context/FrontendContext.php

		-
			message: "#^Method Shopware\\\\Context\\\\SubContext\\:\\:setMinkParameters\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: Context/SubContext.php

		-
			message: "#^Method Shopware\\\\Context\\\\SubContext\\:\\:waitForSelectorPresent\\(\\) should return Behat\\\\Mink\\\\Element\\\\NodeElement but returns Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Context/SubContext.php

		-
			message: "#^Property Shopware\\\\Context\\\\SubContext\\:\\:\\$minkParameters type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Context/SubContext.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: Element/Backend/ExtJsElement.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: Element/Backend/ExtJsElement.php

		-
			message: "#^Method Shopware\\\\Element\\\\Backend\\\\Form\\\\Combobox\\:\\:setValue\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: Element/Backend/Form/Combobox.php

		-
			message: "#^Cannot call method click\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Element/Backend/Form/Selecttree.php

		-
			message: "#^Cannot call method find\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Element/Backend/Form/Selecttree.php

		-
			message: "#^Method Shopware\\\\Element\\\\Backend\\\\Form\\\\Selecttree\\:\\:getSelectTreeElementXpaths\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Element/Backend/Form/Selecttree.php

		-
			message: "#^Method Shopware\\\\Element\\\\Backend\\\\Form\\\\Selecttree\\:\\:setValue\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: Element/Backend/Form/Selecttree.php

		-
			message: "#^Cannot call method click\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 2
			path: Element/Backend/GridView/GridView.php

		-
			message: "#^Cannot call method isVisible\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 2
			path: Element/Backend/GridView/GridView.php

		-
			message: "#^Cannot call method click\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Element/Backend/GridView/GridViewRow.php

		-
			message: "#^Method Shopware\\\\Element\\\\Frontend\\\\Checkout\\\\CartPosition\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Element/Frontend/Checkout/CartPosition.php

		-
			message: "#^Cannot call method click\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Page/Backend/CustomerModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\CustomerModule\\:\\:fillCustomerForm\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/CustomerModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\CustomerModule\\:\\:fillEditCustomerFormWith\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/CustomerModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\CustomerModule\\:\\:fillNewCustomerFormWith\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/CustomerModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\NewArticleModule\\:\\:setBasicData\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/NewArticleModule.php

		-
			message: "#^Cannot call method click\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Page/Backend/OrderModule.php

		-
			message: "#^Cannot call method getAttribute\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Page/Backend/ProductExportModule.php

		-
			message: "#^Cannot call method setValue\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Page/Backend/ProductExportModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ProductExportModule\\:\\:fillConfigurationForm\\(\\) has parameter \\$formData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ProductExportModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ProductExportModule\\:\\:verify\\(\\) has parameter \\$urlParameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ProductExportModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\SettingsModule\\:\\:fillShopConfigurationForm\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/SettingsModule.php

		-
			message: "#^Cannot call method click\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 6
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:activateCountries\\(\\) has parameter \\$countries with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:activatePaymentMethods\\(\\) has parameter \\$paymentMethods with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:buildShippingConfigFormData\\(\\) has parameter \\$shipping with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:buildShippingConfigFormData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:createShippingMethodIfNotExists\\(\\) has parameter \\$shipping with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:extractPaymentMethodsToActivate\\(\\) has parameter \\$shipping with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:extractPaymentMethodsToActivate\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:extractShippingCountriesToActivate\\(\\) has parameter \\$shipping with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:extractShippingCountriesToActivate\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:getShippingCostCell\\(\\) should return Behat\\\\Mink\\\\Element\\\\NodeElement but returns Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\ShippingModule\\:\\:setShippingCosts\\(\\) has parameter \\$costData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/ShippingModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\Backend\\\\VoucherModule\\:\\:fillVoucherEditorFormWith\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Backend/VoucherModule.php

		-
			message: "#^Method Shopware\\\\Page\\\\ContextAwarePage\\:\\:has\\(\\) has parameter \\$locator with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/ContextAwarePage.php

		-
			message: "#^Cannot call method click\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: Page/Frontend/Account.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\Account\\:\\:register\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/Account.php

		-
			message: "#^Cannot call method click\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 2
			path: Page/Frontend/CheckoutCart.php

		-
			message: "#^Cannot call method getText\\(\\) on Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 5
			path: Page/Frontend/CheckoutCart.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\CheckoutCart\\:\\:checkAggregation\\(\\) has parameter \\$aggregation with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/CheckoutCart.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\CheckoutCart\\:\\:fillCartWithProducts\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/CheckoutCart.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\CheckoutCart\\:\\:getCssSelectors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/CheckoutCart.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\CheckoutCart\\:\\:getXPathSelectors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/CheckoutCart.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\CheckoutCart\\:\\:hydratePositionData\\(\\) has parameter \\$positionData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/CheckoutCart.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\CheckoutCart\\:\\:hydratePositionData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/CheckoutCart.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\CheckoutCart\\:\\:validateCart\\(\\) has parameter \\$positionData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/CheckoutCart.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\CheckoutConfirm\\:\\:fillOutRegistrationForm\\(\\) has parameter \\$formData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/CheckoutConfirm.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\CheckoutShippingPayment\\:\\:verifyUrl\\(\\) has parameter \\$urlParameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/CheckoutShippingPayment.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\Detail\\:\\:checkBasePrice\\(\\) has parameter \\$entry with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/Detail.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\Detail\\:\\:checkGraduatedPrice\\(\\) has parameter \\$graduatedPrice with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/Detail.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\Index\\:\\:getXPathSelectors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/Index.php

		-
			message: "#^Method Shopware\\\\Page\\\\Frontend\\\\Search\\:\\:verify\\(\\) has parameter \\$urlParameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Frontend/Search.php

		-
			message: "#^Method Shopware\\\\Page\\\\Installer\\\\InstallerIndex\\:\\:checkRequiredFields\\(\\) has parameter \\$field with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Installer/InstallerIndex.php

		-
			message: "#^Method Shopware\\\\Page\\\\Installer\\\\InstallerIndex\\:\\:fillInAndSubmitForm\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Installer/InstallerIndex.php

		-
			message: "#^Method Shopware\\\\Page\\\\Installer\\\\InstallerIndex\\:\\:getCssSelectors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Installer/InstallerIndex.php

		-
			message: "#^Method Shopware\\\\Page\\\\Installer\\\\InstallerIndex\\:\\:getXPathSelectors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Installer/InstallerIndex.php

		-
			message: "#^Method Shopware\\\\Page\\\\Updater\\\\UpdaterIndex\\:\\:getCssSelectors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Updater/UpdaterIndex.php

		-
			message: "#^Method Shopware\\\\Page\\\\Updater\\\\UpdaterIndex\\:\\:getXPathSelectors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Page/Updater/UpdaterIndex.php
